* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.details {
  background: #24353e;
  box-shadow: 10px 9px 70px rgba(36, 53, 62, 0.4);
  border-radius: 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 45px;
  color: #fff;
  padding: 0px 20px;
  text-align: center;
  width: 300px;
  margin-top: 20px;
}
.weather-icon{
    width: 100px;
    height: 100px;
}
.city{
    font-weight: 700;
font-size: 22px;
/* line-height: 65px; */
}
.flex-details {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
